body {
  background-color: black;
}

@font-face {
  font-family: buttons;
  src: url(../fonts/PressStart2P.ttf);
}

@font-face {
  font-family: tetris;
  src: url(../fonts/Minecrafter.Reg.ttf);
}

/*Start of Start Menu*/
.start-menu {
  margin-left: 20%;
}

#title {
  font-size: 15vh;
  margin-bottom: -40px;
}

#start-button {
  font-size: 5vh;
  background-color: black;
  font-family: buttons;
}

.arrow-keys {
  height: 6vh;
}

#spacebar {
  height: 7vh;
}

.arrow-keys-text {
  display: inline-block;
}
/*End of Start Menu*/

/*Start of Board*/
.board {
 display: none;
}

.col-md-1 {
  border: solid white;
}

.col-md-1.cell-active {
  background-color: white;
}

.col-md-1 {
  background-color: black;
  width: 7%;
  height: 4.5vh;
}

.leftEdge, .rightEdge, .topEdge, .bottomEdge {
  background-color: grey;
  border: solid darkgrey;
}
/*End of Board*/

/*Start of Score Sidebar*/
#miniTitle {
  font-size: 5vh;
}

.col-md-3 {
  display: none;
}

#blockS {
  height: 9vh;
}
/*End of Score Sidebar*/


/*Start TETRIS Coloring*/
.t1, .t2, .e, .r, .i, .s {
  font-family: tetris;
}

.red, .orange, .yellow, .green, .blue, .purple {
  font-family: buttons;
  font-size: 1.5vh;
}

.t1, .red {
  color: red;
}

.e, .orange {
  color: orange;
}

.t2, .yellow {
  color: yellow;
}

.r, .green {
  color: green;
}

.i, .blue {
  color: blue;
}

.s, .purple {
  color: purple;
}
/*End TETRIS Coloring*/


/*Start Pause Button*/
.text-pause {
  display: none;
  text-align: center;
  color: green;
}

#pause-size {
  font-size: 22vh;
}
/*End Pause Button*/

#copyright {
  position: absolute; bottom: 5px;
}
