body {
  background-color: black;
}

@font-face {
  font-family: buttons;
  src: url(../fonts/PressStart2P.ttf);
}

@font-face {
  font-family: tetris;
  src: url(../fonts/Minecrafter.Reg.ttf);
}

.ourClass {
  padding-right: 50px;
}

/*Start of Start Menu*/
.start-menu {
  margin-left: 20%;
}

#title {
  font-size: 15vh;
  padding-bottom: 8vh;
}

#start-button {
  font-size: 5vh;
  background-color: black;
  font-family: buttons;
}

.arrow-keys {
  height: 6vh;
}

#spacebar {
  height: 7vh;
}

.arrow-keys-text {
  display: inline-block;
}
/*End of Start Menu*/

/*Start of Board*/
.board {
 display: none;
}

.col-xs-1 {
  border: solid white;
}

.col-xs-1.cell-active {
  background-color: white;
}

.col-xs-1 {
  background-color: black;
  width: 5%;
  height: 4.5vh;
}

.leftEdge, .rightEdge, .topEdge, .bottomEdge {
  background-color: grey;
  border: solid darkgrey;
}

.middle {
  z-index: 0;
  position: 1;
}

/*End of Board*/

/*Start of Score Sidebar*/
.score {
  position: fixed;
  right: -600px;
  z-index: 1;
  display: none;
}

#miniTitle {
  font-size: 5vh;
}

#blockS {
  height: 9vh;
}

.red-text {
  color: red;
  font-family: buttons;
  font-size: 1.5vh;
}
/*End of Score Sidebar*/

/*Start TETRIS Coloring*/
.t1, .t2, .e, .r, .i, .s {
  font-family: tetris;
}

.t1 {
  color: red;
}

.e {
  color: orange;
}

.t2 {
  color: yellow;
}

.r {
  color: green;
}

.i {
  color: blue;
}

.s {
  color: purple;
}
/*End TETRIS Coloring*/


/*Start Pause Button*/
.text-pause {
  display: none;
  text-align: center;
  color: green;
}

#pause-size {
  font-size: 22vh;
}
/*End Pause Button*/

#copyright {
  position: absolute; bottom: 5px;
}
